





.logo-wight {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px ;
    color: var(--backround-color);
}

.margin-contacts-nav {
    margin-left: 10px;
}

.icon-nav{
    fill: currentColor;
}

.contacts-nav-link:hover, .contacts-nav-link:focus {
    color: var(--accent-color);
}

.main-headline{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right ,rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0)), url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}
.headline {
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-headline-text{
    color: var(--backround-color);

    font-weight: 900;
    font-size:44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.bautton-block {
    display: flex;
    justify-content:center;
    margin-top: 30px;
    min-width: 200px;
    height: 50px;
}

.order-button {
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    min-block-size: 200;
    height: 50;
            
    color: var(--backround-color);
    background-color: var(--accent-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
 }

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
    z-index: 2;
}

textarea {
    resize: none;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;

    height: 581px;
    width: 528px;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12); ;

    background-color: var(--backround-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:12px ;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    
    color: var(--second-text-color);       
}

.form-field:first-child {
    margin-top: 0px;    
}
.form-field:last-child {
    margin-top: 20px;    
}

.form-field label {
    margin-bottom: 4px;
}

.form-field:last-child label {
    margin-bottom: 0px;
}

.js-speaker-form {
    margin-top: 12px;
    margin-bottom: 30px;
}


.form-field:not(:last-child) input {
    padding-left: 42px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    color: var(--main-text-color);
    cursor: pointer;
    position: relative;

    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.form-field:hover:not(:last-child) input,
.form-field:hover textarea,
.form-field:focus:not(:last-child) input,
.form-field:focus textarea {
    outline: 1px solid var(--accent-color);
    
}

.form-field:hover input ~ a,
.form-field:focus input ~ a {
    fill: var(--accent-color);
}

.form-field textarea {
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border: none;
    border-radius: 4px;
    color: var(--main-text-color);
    height: 120px;
    cursor: pointer; 
    font-size: 14px;

    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.form-field textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);    
    font-size: 14px;
}

.comments {
    padding: 12px 16px;
}


.consent-stail {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.form-headline {
    color: var(--main-text-color);
    font-weight: 700;
    font-size:20px ;
    letter-spacing: 0.03em;
    text-align: center;
} 

.agreement {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
    margin-right: 9px;

}

.input-taxt {
    color: var(--main-text-color);
}


.check-agreement {
    color: var(--accent-color);
    text-decoration: underline;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.icon-order-box{
    position: absolute;
    transform: translateY(50%);
    margin-left: 12px;
    cursor: pointer;
    fill:var(--main-text-color);

    transition-property:  fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.label-chack {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.consent-stail input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.close-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    margin: 0;
}

.icon-close {
    fill: var(--main-text-color);
    background-size: contain;

    transition-property:  fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.icon-close:focus, .icon-close:hover {
    fill: var(--accent-color);
    
}

.checkbox:checked + .icon-check {
    fill: var(--accent-color);
    outline: 0px;
    background-size: contain;
    
    
}

.icon-check{
    fill: none;
    margin-left: 12px;
    margin-right: 8px;
    outline: 2px solid var(--main-text-color);
    outline-offset: -2px;
    border-radius: 2px;
    background-origin: padding-box;
    background-size: contain;

    transition-property:  fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
   
   
  
}

.button-submit-main {
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.button-submit {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--backround-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    cursor: pointer;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:16px ;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

}

.advantages-main {
   padding-top: 94px;
 }
 .we-doing {
    margin-top: 50px;
 }

.we-doing, .our-advantages, .our-team  {
    display: flex;
    flex-wrap: wrap;
 }

 .text-hiden-wedo {
    position: relative;
    height: 294px;
    overflow: hidden;
 }

 .text-hiden-we {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--backround-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;

 }



.icon-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1) ;
    border-radius: 4px;
   
}

.our-advantages-item:not(:last-child) {
    margin-right: 30px;
}

.our-advantages-item {
    width: 270px;
}

 .we-doing-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.we-doing-item:not(:last-child){
    margin-right: 30px;
    
}

.benefits-headline{
    font-size:14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}

.benefits-title {
    margin-top: 10px;

    color: var(--second-text-color);
    line-height: 1.71;
}

.our-team-block {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.second-headline {
    font-weight: 700;
    font-size:36px ;
    text-align: center;
}

.our-team {
      margin-top: 50px;
}

.our-team-item:not(:last-child) {
    margin-right: 30px;
}

.our-team-item {
    background-color: var(--backround-color);
    border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.command {
    padding-top: 30px;
    padding-bottom: 30px;
}

.command-name {
    font-weight: 500;
    font-size:16px;
    text-align: center;
}

.command-name-position {
    margin-top: 10px;

    font-size:16px ;
    color: #757575;
    text-align: center;
}

.icon-social-networks-ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    padding-right: 32px;
    padding-left: 32px;
}

.icon-social-networks-li:not(:last-child) {
    margin-right: 10px;
}

.icon-social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    border-radius: 50%;
    background-color: var(--backround-color);

    transition-property: color, background-color,  box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.icon-s-n {
    fill: currentColor;
   }


.icon-social-networks:hover,
.icon-social-networks:focus {
    background-color: var(--accent-color);
    color: var(--backround-color);
}

.companis-container {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

.icon-companis-ul  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.icon-companis-li:not(:last-child) {
    margin-right: 30px;
}

.icon-companies:hover, .icon-companies:focus {
    outline:  1px solid var(--accent-color);
    color: var(--accent-color);
}

.icon-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    outline:  1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    color: #AFB1B8;

    transition-property: color, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.icon-companie {
   fill: currentColor;
}

address {font-style: normal;}

.footer {
    background-color: #2F303A;
       
    line-height: 1.71;
    color: var(--backround-color);
}

.footer .icon-social-networks-ul{
    padding: 0px;
    
}

.footer .icon-social-networks {
    color: var(--backround-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: color, background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.footer .icon-social-networks:hover ,
.footer .icon-social-networks:focus  {
    background-color: var(--accent-color);
    color: var(--backround-color);
}

.footer-contacts {
    color: var(--backround-color)
}

.footer-maine {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.footer-maine-li:first-child {
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-maine-li:nth-child(2) {
    margin-right: 93px;
    margin-top: 72px;
}

.footer-addresslist {
    margin-top: 20px;
}

.footer-contacts:first-child {
    color: var(--backround-color);
}

.footer-contacts:nth-child(n+2) {
    margin-top: 9px;
}

.footer-contacts-text {
    color: var(--backround-color); opacity: 0.6;
}

.footer-header {
    font-weight: 700;
    text-transform: uppercase;
    
}

.mailing-block {
    display: flex;
    margin-top: 20px;
}

.mailing-footer {
    margin-top: 72px;
}

:focus {
    outline: 0;
    outline-offset: 0;
}

.mailing-footer input:focus {
    outline: 0;
   
}

.mailing-button {
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;
    margin-left: 12px;
    color: var(--backround-color);
    cursor: pointer;


    font-weight: 700;
    font-size:16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    fill: var(--backround-color);
}

.mailing-text {
    font-weight: 700;
    font-size:16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    fill: var(--backround-color);
    margin-right: 10px;

}

.mailing-input {
    width: 358px;
    height: 50px;
    color:  var(--backround-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 4, 4, 0.15);
    background-color: rgba(47, 48, 58, 1);
    padding-left: 16px;
}
.mailing-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
 
}


.mailing-block + input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.container-portfolio{
   padding-bottom: 94px;
   padding-top: 94px;
}

.portfolio-button-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-maine-portfolio:not(:last-child) {
    margin-right: 8px;
}

.button-portfolio {
    background-color: #F5F4FA;
    height: 38px;
    border: none ;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;

    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    
    transition-property: color, background-color,  box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

}

.button-portfolio:hover, .button-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--backround-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-items-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.portfolio-items-main {
    position: relative;
    outline:  1px solid #EEEEEE;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
   
       
}

.img-portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio-items-main:hover, .portfolio-items-main:focus {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}


.portfolio-items-main:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-items-main:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.text-hiden-portfolio {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--backround-color);
    background-color: rgba(33, 150, 243, 0.9) ;
    padding: 64px 24px;

    font-size:18px ;
    line-height: 1.56;

    transform: translateY(101%);

    transition-property:  transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.portfolio-items-main:hover .text-hiden-portfolio,
 .portfolio-items-main:focus .text-hiden-portfolio {
    transform: translateY(0%);

}


.portfolio-items-text {
  padding: 20px 24px 20px 24px;
}

.portfolio-items-name {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
   
}


.portfolio-items {
   margin-top: 4px;

    font-size: 16px;
    line-height: 1.89;
    color: #757575;
}