@import "../untils/mixin";
@import "../untils/vars";


.hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right ,rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0)), url("/images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}

.hero-block {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-block__headline{
    color: var(--backround-color);

    font-weight: 900;
    font-size:44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.bautton-block {
    display: flex;
    justify-content:center;
    margin-top: 30px;
    min-width: 200px;
    height: 50px;
}

.order-button {
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    min-block-size: 200;
    height: 50;
            
    color: var(--backround-color);
    background-color: var(--accent-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
 }
