@import "../untils/mixin";
@import "../untils/vars";



.advantages{
    padding-top: 94px;
}

.advantages-block {
    display: flex;
    flex-wrap: wrap;
}

.advantages__item {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.advantages__icon {
    @include centeredFlex (flex, center);
    flex-wrap: wrap;
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1) ;
    border-radius: 4px;
}

.advantages__headline {
    font-size:14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}

.advantages__title {
    margin-top: 10px;

    color: $second-text-color;
    line-height: 1.71;
}

